<div>
  <div appYellow>component-interaction works!</div>
  <app-interaction-one #interactionOne1></app-interaction-one>
  <app-interaction-one #interactionOne2></app-interaction-one>
  <app-interaction-two></app-interaction-two>
  <ng-template #apple_pen>
    <span>I have a apple</span><b>I have a pen</b><i>ah! apple pen</i>
  </ng-template>

  <app-dymanic-widget [data]="{head:'head1',container:'container1'}"></app-dymanic-widget>
  <!--动态组件-->
  <ng-template appAdHost>

  </ng-template>
</div>
