<div id="app-top">
  <div class="container">
    <span class="text-large title">
      A<!--ngular -->
    </span>
    <a routerLink="/index" routerLinkActive="active">首页</a>
    <a routerLink="/component" routerLinkActive="active">组件</a>
    <a routerLink="/directive" routerLinkActive="active">指令</a>
    <a routerLink="/pipe" routerLinkActive="active">管道</a>
    <a routerLink="/di" routerLinkActive="active">依赖注入</a>
    <a routerLink="/module" routerLinkActive="active">模块</a>
    <a routerLink="/animation" routerLinkActive="active">动画</a>
    <a routerLink="/http" routerLinkActive="active">HTTP</a>
    <a routerLink="/rx" routerLinkActive="active">RX</a>
    <a routerLink="/lazyLoader" routerLinkActive="active">lazyLoader</a>
    <a routerLink="/interaction" routerLinkActive="active">interaction(组件间的交互)</a>
  </div>
</div>
